*{
    /* border: 1px solid #73AD21 !important; */
margin: 0px;
padding: 0px;
}

body{
background-color: #2680A8;
font-family: 'Montserrat', sans-serif;
}


#destacados .image-top {
height: 150px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

#destacados{
margin-left: 50px;
margin-right: 50px;

}

.navbar-brand {
width: 2rem;
}

/* .navbar{
background-color: #2680A8;
filter:alpha(opacity=0);
-moz-opacity:.70;opacity:.70;
background: transparent;

}  */


#quienes{
color: black;

}


#quienes i{
color: white;
}

#iconos span{
margin-left: 80px;

}

html {
scroll-behavior: smooth;
}

    

