#destacados .image-top {
height: 250px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.navbar-brand {
width: 2rem;
}

.navbar{
background: transparent;
}


#quienes{
color: white;
}

.col-12 col-md-4{
    background-color: yellowgreen;
}
